.navbar {
    box-shadow: 0 0.125rem 0.125rem rgb(255 141 52) !important;
    background-color: #ff8d34;
    font-size: 20px;

    .navbar-toggler:focus {
        box-shadow: none !important;
        color: #ffffff !important;
    }

    .nav-link {
        color: #161616 !important;
        cursor: pointer;

        &.active {
            color: #ffffff !important;
        }

        &:hover {
            color: #ffffff !important;
        }
    }

    .dropdown-menu {
        position: absolute !important;
        left: -100% !important;

        .dropdown-item:hover {
            color: #ff8d34 !important;
            background-color: white !important;
        }
    }
}