main {
    background-color: #ffffff;
}

.banner {
    background-image: url(/images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.search-amenities {
    .btn {
        padding: 8px 8px 8px 8px !important;
        border: none !important;

    }

}