.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax_group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    background: url('/images/sky.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
}

.hero-text {

    transform: translateZ(-400px) scale(2.33333333);
    z-index: 2;

    .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);


        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 53px;
            font-weight: bolder;
        }
    }
}

.city {
    background: url('/images/city.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-250px) scale(1.833333333);
    z-index: 3;
}

.scroll-down {
    position: absolute;
    top: 92%;
    left: 50%;
    z-index: 4;
}

.info-container {
    background-color: #ffffff;
    z-index: 1;
}

.search-container {
    background-color: #ffffff;
    z-index: 1;
}

.review-container {
    background-color: #ffffff;
    z-index: 1;
}


@media (min-width: 576px) {

    .hero-text {
        h1 {
            font-size: 85px !important;
        }
    }
}

@media (min-width: 768px) {

    .hero-text {
        h1 {
            font-size: 112px !important;
        }
    }
}

@media (min-width: 992px) {

    .hero-text {
        h1 {
            font-size: 150px !important;
        }
    }
}